<div class="container mt-4">
  <div class="row">
    <div class="col-sm-4">
      <div class="card">
        <img class="card-img-tio img-thumbnail" src={{User.photoURL}}>
        <div class="card-body">
          <div>
            <strong>Location:</strong>
            <p>{{User.city}}, {{User.country}}</p>
          </div>
          <div>
            <strong>Age:</strong>
            <p>{{User.age}}</p>
          </div>
          <div>
            <strong>Last Active:</strong>
            <p>{{User.lastActive}}</p>
          </div>
          <div>
            <strong>member since:</strong>
            <p>{{User.createdOn}}</p>
          </div>
        </div> 
        <div class="card-footer">
            <button class="btn btn-primary">Like</button>
            <button class="btn btn-success">Message</button>
          </div>
      </div>
    </div>
    <div class="col-sm-8">
      <div class="card">
       <div class="tab-pancel">
         <tabset>
           <tab heading="About {{User?.knownAs}}">
             <h4>Description</h4>
             <p>{{User.introduction}}</p>
             <h4>Looking For</h4>
             <p>{{User.lookingFor}}</p>
           </tab> 
           <tab heading="Interests">
              <h4>Interests</h4>
              <p>{{User.interests}}</p>
            </tab> 
            <tab heading="Photos">
              <ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>
             </tab>
             <tab heading="Messages">
                <h4>Messages here</h4>
              </tab>
         </tabset>
       </div>
      </div>
    </div>
  </div>
</div>