<div class="container mt-4 mb-4">
  <div class="row">
    <div class="col-sm-4">
      <h1>Your profile</h1>
    </div>
    <div class="col-sm-8">
      <div *ngIf="EditForm.dirty" class="alert alert-info">
        <strong>Information: </strong> you have made changes, save it.
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <div class="card">
        <img class="card-img-tio img-thumbnail" src="{{photoUrl || '../../../../../assets/user.png'}}">
        <div class="card-body">
          <div>
            <strong>Location:</strong>
            <p>{{User.city}}, {{User.country}}</p>
          </div>
          <div>
            <strong>Age:</strong>
            <p>{{User.age}}</p>
          </div>
          <div>
            <strong>Last Active:</strong>
            <p>{{User.lastActive}}</p>
          </div>
          <div>
            <strong>member since:</strong>
            <p>{{User.createdOn}}</p>
          </div>
        </div>
        <div class="card-footer">
          <button form="EditFormId" [disabled]="!EditForm.dirty" class="btn btn-success btn-block">Save</button>
        </div>
      </div>
    </div>
    <div class="col-sm-8">
      <div class="card">
        <div class="tab-pancel p-2">
          <tabset>
            <tab heading="Edit Profile" class="p-2">
              <form #EditForm="ngForm" id="EditFormId" (ngSubmit)="EditUser()">
                <div class="p-2">
                  <h4>Description</h4>
                  <textarea name="introduction" class="form-control" rows="6"
                    [(ngModel)]="User.introduction"></textarea>
                </div>

                <div class="p-2">
                  <h4>Looking For</h4>
                  <textarea name="lookingFor" class="form-control" rows="6" [(ngModel)]="User.lookingFor"></textarea>
                </div>

                <div class="p-2">
                  <h4>Interests</h4>
                  <textarea name="interests" class="form-control" rows="6" [(ngModel)]="User.interests"></textarea>
                </div>

                <div class="p-2">
                  <h4>Location Deteails</h4>
                  <div class=form-inline>

                    <label for="city" class="mr-2">City</label>
                    <input type="text" class="form-control mr-3" [(ngModel)]="User.city" name="city" />

                    <label for="country" class="mr-2">Country</label>
                    <input type="text" class="form-control" [(ngModel)]="User.country" name="country" />

                  </div>
                </div>
              </form>
            </tab>
            <tab heading="Edit Images" class="p-2">
              <app-photoEditor [photos]="User.photos" (changeMianPhoto)="setNewMainPhoto($event)"></app-photoEditor>
            </tab>
          </tabset>
        </div>
      </div>
    </div>
  </div>
</div>