<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
  <div class="my-0 mr-md-auto">
      <a class="navbar-brand" [routerLink]="['/home']">Date App</a>
      <a *ngIf="loggedIn()" class="p-2 text-dark" [routerLink]="['/member']" routerLinkActive="router-link-active" >Matches</a>
      <a *ngIf="loggedIn()" class="p-2 text-dark" [routerLink]="['/lists']" routerLinkActive="router-link-active">Lists</a>
      <a *ngIf="loggedIn()" class="p-2 text-dark" [routerLink]="['/messages']" routerLinkActive="router-link-active">Message</a>
      <!-- <a class="p-2 text-dark" (click)="logout()">logout</a> -->
  </div>
    <div class="my-1 my-md-0 mr-md-3">
        
<div *ngIf="loggedIn()" class="dropdown" dropdown>
    <span class="mr-1">
      <img src={{photoUrl}} alt=""
          style="max-height: 50px; border: 1px solid white;display: inline"
      />
    </span>
    <a class="dropdown-toggle text-dark" dropdownToggle >
      Welcome {{ _authService.decodedToken.unique_name }}
    </a>
    <div class="dropdown-menu" *dropdownMenu>
      <a class="dropdown-item mr-2" [routerLink]="['/memberEdit']" >Edit profile</a>
     <div class="dropdown-divider"></div>
     
      <a class="dropdown-item" (click)="logout()">Logout</a>
    </div>
  </div>

    <form *ngIf="!loggedIn()" #loginForm="ngForm" (ngSubmit)="login()" class="form-inline">
      <input [(ngModel)]="model.Username" required name="Username" class="form-control mr-sm-2" type="text" placeholder="UserName">
      <input [(ngModel)]="model.Password" required name="Password" class="form-control mr-sm-2" type="password" placeholder="Password">
      <button [disabled]="!loginForm.valid" class="btn btn-outline-success my-2 my-sm-0" type="submit">Login</button>
    </form>
</div>
</div>